body {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa;
  background-color: #333; }
  body svg {
    color: #333; }

.clickable, .nice-button {
  cursor: pointer; }
  .clickable:hover, .nice-button:hover {
    opacity: 0.9; }
  .clickable:active, .nice-button:active {
    opacity: 0.7; }

.content {
  padding: 0 0 50px; }

.section-header-row {
  margin: 20px 0; }

.section-header {
  text-align: center;
  font-size: 2.5em;
  font-weight: 300; }

.section-subheader {
  text-align: center;
  margin: 10px 0 0;
  font-size: 1.5em;
  background-color: #333; }

.svg-widget {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: #bbb 0px 0px 5px; }

.explanation-pair {
  display: flex;
  padding: 0 50px; }

.words-and-symbols-explanation {
  flew-grow: 1;
  height: 525px;
  margin: 0 0 0 30px;
  padding: 10px 30px;
  border-radius: 2px;
  background-color: #555;
  box-shadow: #666 0px 0px 5px;
  overflow-y: scroll; }
  .words-and-symbols-explanation .katex {
    font-size: 1.4em; }

.centered {
  text-align: center; }

.divider {
  margin: 10px 0;
  height: 1px;
  background-color: #888;
  box-shadow: #333 0px 0px 5px; }

.widget-control-box {
  padding: 20px;
  box-shadow: #333 0px 0px 5px;
  border-radius: 2px;
  background-color: #444;
  color: #fff099; }

.widget-control-box-header {
  margin: -10px 0 20px 0;
  font-size: 0.8em; }

.widget-control-box-content {
  text-align: center; }

.widget-control-element {
  background-color: #333;
  color: #fff099; }

.widget-value-setter {
  padding: 5px 10px; }
  .widget-value-setter:not(:first-child) {
    border-left: solid 1px #aaa; }
  .widget-value-setter.selected {
    opacity: 0.7; }

.widget-animation-setter {
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9em;
  border: none;
  outline: none; }

.limit-2D-epsilon-ball {
  transition: all 0.1s ease; }

.limit-2D-sequence-label {
  color: #747ffc;
  font-weight: bold; }
